/* Amna's Colors
blue #052b3e
white #ffffff
pink #f4cccc
grey #e8eae3 */

html {
    scroll-padding-top: 60px;
}

body {
    background-color: transparent;
}

.nav-special {
    background-color: rgba(255, 255, 255, .55);
    border-radius: 2rem;
}

.nav-link-special {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}

.bg-header {
    background-image: url("../img/header_home_dark.png");
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-right: 3rem;
    padding-left: 3rem;
}

.mini-header {
    /* Default if picture doesn't load */
    background: linear-gradient(45deg, #000000cc, #373833aa);
    max-height: 400px;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.career-header {
    background: linear-gradient(45deg, #000000aa, #373833aa), url(../img/head_sunset.png) no-repeat center center;
    background-size: cover;
}

.study-header {
    background: linear-gradient(45deg, #000000aa, #373833aa), url(../img/head_study.jpg) no-repeat center center;
    background-size: cover;
}

.services-header {
    background: linear-gradient(45deg, #000000aa, #373833aa), url(../img/head_svc.jpg) no-repeat center center;
    background-size: cover;
}

.experience-header {
    background: linear-gradient(45deg, #000000aa, #373833aa), url(../img/head_exp.jpg) no-repeat center center;
    background-size: cover;
}

.about-header {
    background: linear-gradient(45deg, #000000aa, #373833aa), url(../img/head_about.jpg) no-repeat top center;
    background-size: cover;
}

.sherparow {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    /* text-align: justify; */
}

@media (max-width:576px) {
    .sherparow {
        width: 100%;
    }
}

.hdr-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.casestudy {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.paper-bg h1,
h2,
h3 {
    /* color: #ff8ec5; */
    color: #ffcccc;
}

.peach-bg h1,
h2,
h3 {
    /* color: #ff8ec5; */
    /* color: #ffcccc; */
    color: #052b3e;
}

.headsect {
    min-height: 450px;
    z-index: 2;
}

.teammate {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.cert {
    width: 100%;
    max-width: 140px;
}

.pledge {
    max-width: 100%;
    max-height: 150px;
}

.peach {
    color: #fcc0c0;
}

.pink {
    color: #ff8ec5;
}

.peach-bg {
    /* background-color: #fef9f9; */
    background-color: #e8eae3;
    color: #05263e
}

.paper-bg {
    /* background-color: #e8eae3; */
    background-color: #052b3e;
}

.dark-bg {
    background-color: #373833;
    color: #fff;
}

.light-bg {
    background-color: #f0f2eb;
}

.case {
    min-height: 300px;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.case-eab {
    width: 100%;
    height: 400px;
    background-color: red;
    background-image: url("../img/case2.png");
    object-fit: cover;
    object-position: center;
    display: inline-block;
    margin: 0px;
    z-index: 1;
}

.case-over {
    width: 800px;
    height: 300px;
    opacity: 0.9;
    z-index: 2;
    display: inline;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 400px);
    text-align: center;
}

.case-over-text {
    width: 700px;
    height: 300px;
    z-index: 2;
    display: inline;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 400px);
    text-align: center;
    margin: 50px;
}