.frame {
    height: 300px;
    width: 100%;
    background-color: black;
    position: fixed;
    text-align: center;
}

.red {
    width: 49%;
    height: 300px;
    background-color: red;
    display: inline-block;
    z-index: 1;
}

.green {
    width: 49%;
    height: 300px;
    background-color: green;
    display: inline-block;
    z-index: 1;
}

.yellow {
    width: 400px;
    height: 100px;
    background-color: yellow;
    z-index: 2;
    display: inline;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    text-align: center;
}